<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="location">
      <h2 data-cy="locationDetailsHeading"><span jhiTranslate="serveUpApp.location.detail.title">Location</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="serveUpApp.location.id">Id</span></dt>
        <dd>
          <span>{{ location.id }}</span>
        </dd>
        <dt><span jhiTranslate="serveUpApp.location.latitude">Latitude</span></dt>
        <dd>
          <span>{{ location.latitude }}</span>
        </dd>
        <dt><span jhiTranslate="serveUpApp.location.longitude">Longitude</span></dt>
        <dd>
          <span>{{ location.longitude }}</span>
        </dd>
        <dt><span jhiTranslate="serveUpApp.location.streetAddress">Street Address</span></dt>
        <dd>
          <span>{{ location.streetAddress }}</span>
        </dd>
        <dt><span jhiTranslate="serveUpApp.location.postalCode">Postal Code</span></dt>
        <dd>
          <span>{{ location.postalCode }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/location', location.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
